<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <%- include("partial/navbarlogin.ejs") %>
    <h1>Movies List</h1>

    <a href="/cast/add">Add Cast</a>
    <div class="table-responsive-sm position-sticky">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th scope="col">Birth Year</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <%data.map(el => { %>
                    <td class="table-primary"><%= el.getFullName() %></td>
                    <td><%= el.phone_number%></td>
                    <td><%= el.birth_year %></td>
                    <td><%= el.gender %></td>
                    <td>
                        <button type="button" class=" btn btn-primary btn-lg"> <a href="/cast/edit/<%= el.id %>"
                                class="text-warning">Edit</a> </button>

                        <button class=" btn btn-primary btn-lg" type="button"
                            onclick="return confirm('are you sure want to delete')"> <a href="/cast/delete/<%= el.id %>"
                                class="text-warning"> Delete </a> </button>
                        <button type="button" class=" btn btn-primary btn-lg"> <a href="/cast/seemovies/<%=el.id%>"
                                class="text-warning"> See Movies</a> </button>
                    </td>
                </tr>

                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>